@import "variables";

#site-navbar {
	&:not(.transparent-navbar) {
		background-color: $color-primary !important;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
	}

	position: -webkit-sticky;
	position: sticky;
	top: 0;
	//z-index: 9999;
}
