// Style ALL links, even without href (bootstrap doesnt do this by default)
a:not([href]) {
	color: #007bff;
	text-decoration: none;
	background-color: transparent;
	cursor: grab;
}

a:not([href]):hover {
	color: #0056b3;
	text-decoration: underline;
}

.text-shadow {
	text-shadow: black 0px 0px 75px, rgba(0, 0, 0, 0.7) 0px 0px 20px;
}

.text-shadow-heavy {
	text-shadow: 0 0 6px black, 0 0 4px black, 0 0 2px black;
}
