$navbar-dark-color: rgba(255, 255, 255, 0.75);
$navbar-dark-hover-color: rgba(255, 255, 255, 0.95);

$sizes: (
	"33": 33.33%,
	"66": 66.66%,
);

@import "../../node_modules/bootstrap/scss/bootstrap";
